.header {
  display: block;
  width: 100%;
  background-color: $color-blue;
  padding: 2px 20px;
  color: $color-white;

  a {
    color: $color-white;
  }
}

.nav-list {
  display: flex;
  list-style: none;

  li {
    margin-right: 10px;
  }

  &__right {
    margin-left: auto;
  }
}
